$carousel-height: 500px;
$control-size: 50px;
.sec0{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.carousel {
  width: 100vw;
  height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  
  
  &:hover .controlsphoto {
    opacity: 1;
  }
  
  .controlsphoto {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 99999;
    transition: all ease 0.5s;
    
    .controlphoto {
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.7);
      opacity: .5;
      transition: ease .3s;
      cursor: pointer;
      
      &:hover {
        opacity: 1;
      }
    }
  }
  
    .slides {
      position: relative;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      width: 100vw;
      height: 100vh;
      transition: 1s ease-in-out all;
      
      .slide {
        width: 150vw;
        height: 100vh;
      }

      
    }
}
